/*Default browser font size is 16.5px
62.5% of 16px is 10px
This way I can use rem in my styling
And ensure the website is accessible - when user increases the size
of the text, everything else will scale properly as well*/
* {
    font-size: 62.5%;
    font-family: "Apercu Pro", sans-serif; 
}
/*The REM unit represents the font-size of the root element
    (e.g. the font-size of the <html>element). When used on the
    font-size on this root element, it represents its initial value.*/

h1 { 
    font-family: "Value Serif";
}

#main-logo {
    width: 15rem;
}

.header {
    display: flex;
    justify-content: center;
    min-height: 5rem;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #ffffff;
}

.nav-bar {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.nav-bar > ul {
    display: flex; 
    justify-content: space-between;
}
 

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #db5e35;	
}

a:active {
    text-decoration: none;
}

.nav-bar > ul {
    list-style-type: none;
    padding: 0em; /*What is em?*/ 
    margin: 0em;
}

/*'em' is a CSS unit relative to the font size of the parent element, 
while rem is a CSS unit relative to the font size of an html element. 
Both of these are scalable units, meaning they give us the ability to 
scale elements up and down, relative to a set value.*/
.nav-bar > ul > li > a  {
    margin: 3rem;
    font-size: 1.5rem;
}

.nav-text {
    font-size: 1.3em;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.major-news {
    display: flex;
}

.main-picture {
    width: 100%;
    height: auto;
}

.main-article > h1 {
    font-size: 3rem;
    text-align: center;
}

.main-article > p {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
}

.minor-news {
    display: inline-flex;
    margin: 1rem;
    background-color: #f2eee9;
    text-align: center;
}

.minor-article {
    flex: 1 100%;
    margin: 1rem;
}

.minor-article:hover {
    color: #db5e35;
}

.minor-article > h1 {
    font-size: 2rem;
}

.minor-article > p {
    font-size: 1.2rem;
}

.minor-article-pic {
    height:12rem;
    border-radius: 20%;
}

.footer, .push {
    height: 50px;
}

.footer-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-element > p {
    font-size: 1.5rem;
    justify-items: center;
}

#footer-logo {
    width:10rem;
}